In [19]:
import pandas as pd
import numpy as np
pd.read_csv('DAT_ASCII_EURUSD_M1_2017.csv', parse_dates=True,index_col='timestamp', names=['timestamp','open','high','low','close','volume'],sep=";",header=None)

                        open     high      low    close  volume
timestamp
2017-01-02 02:00:00  1.05155  1.05197  1.05155  1.05190       0
2017-01-02 02:01:00  1.05209  1.05209  1.05177  1.05179       0
2017-01-02 02:02:00  1.05177  1.05198  1.05177  1.05178       0
2017-01-02 02:03:00  1.05188  1.05200  1.05188  1.05200       0
2017-01-02 02:04:00  1.05196  1.05204  1.05196  1.05203       0
2017-01-02 02:06:00  1.05196  1.05204  1.05196  1.05204       0
2017-01-02 02:07:00  1.05205  1.05210  1.05205  1.05209       0
2017-01-02 02:08:00  1.05210  1.05210  1.05209  1.05209       0
2017-01-02 02:09:00  1.05208  1.05209  1.05208  1.05209       0
2017-01-02 02:10:00  1.05208  1.05211  1.05207  1.05209       0
2017-01-02 02:11:00  1.05212  1.05214  1.05211  1.05214       0
2017-01-02 02:12:00  1.05213  1.05214  1.05213  1.05214       0
2017-01-02 02:13:00  1.05209  1.05214  1.05209  1.05211       0
2017-01-02 02:14:00  1.05206  1.05206  1.05206  1.05206       0
2017-01-02 02:15:00  1.05213  1.05213  1.05210  1.05213       0
2017-01-02 02:17:00  1.05212  1.05212  1.05208  1.05212       0
2017-01-02 02:18:00  1.05211  1.05211  1.05211  1.05211       0
2017-01-02 02:19:00  1.05206  1.05209  1.05177  1.05177       0
2017-01-02 02:20:00  1.05176  1.05176  1.05176  1.05176       0
2017-01-02 02:21:00  1.05172  1.05186  1.05172  1.05180       0
2017-01-02 02:22:00  1.05173  1.05173  1.05173  1.05173       0
2017-01-02 02:23:00  1.05176  1.05176  1.05176  1.05176       0
2017-01-02 02:24:00  1.05183  1.05183  1.05183  1.05183       0
2017-01-02 02:25:00  1.05176  1.05176  1.05176  1.05176       0
2017-01-02 02:26:00  1.05185  1.05185  1.05183  1.05184       0
2017-01-02 02:27:00  1.05185  1.05185  1.05178  1.05179       0
2017-01-02 02:28:00  1.05180  1.05180  1.05180  1.05180       0
2017-01-02 02:29:00  1.05178  1.05178  1.05177  1.05177       0
2017-01-02 02:30:00  1.05185  1.05193  1.05181  1.05183       0
2017-01-02 02:31:00  1.05184  1.05209  1.05177  1.05187       0
...                      ...      ...      ...      ...     ...
2017-12-29 16:28:00  1.19958  1.19958  1.19958  1.19958       0
2017-12-29 16:29:00  1.19963  1.19981  1.19954  1.19981       0
2017-12-29 16:30:00  1.19981  1.19981  1.19972  1.19973       0
2017-12-29 16:31:00  1.19974  1.19974  1.19959  1.19964       0
2017-12-29 16:32:00  1.19963  1.19964  1.19957  1.19964       0
2017-12-29 16:33:00  1.19964  1.19968  1.19963  1.19964       0
2017-12-29 16:34:00  1.19964  1.19977  1.19963  1.19977       0
2017-12-29 16:35:00  1.19974  1.19978  1.19974  1.19978       0
2017-12-29 16:36:00  1.19978  1.19996  1.19978  1.19988       0
2017-12-29 16:37:00  1.19986  1.19988  1.19978  1.19986       0
2017-12-29 16:38:00  1.19987  1.19993  1.19987  1.19988       0
2017-12-29 16:39:00  1.19988  1.19988  1.19983  1.19983       0
2017-12-29 16:40:00  1.19985  1.19985  1.19978  1.19978       0
2017-12-29 16:41:00  1.19978  1.19978  1.19968  1.19968       0
2017-12-29 16:42:00  1.19969  1.19969  1.19968  1.19969       0
2017-12-29 16:43:00  1.19968  1.19971  1.19966  1.19966       0
2017-12-29 16:44:00  1.19966  1.19966  1.19963  1.19963       0
2017-12-29 16:45:00  1.19966  1.19968  1.19958  1.19958       0
2017-12-29 16:46:00  1.19960  1.19962  1.19953  1.19953       0
2017-12-29 16:47:00  1.19953  1.19955  1.19939  1.19940       0
2017-12-29 16:48:00  1.19937  1.19937  1.19922  1.19937       0
2017-12-29 16:49:00  1.19932  1.19932  1.19927  1.19927       0
2017-12-29 16:50:00  1.19927  1.19932  1.19922  1.19932       0
2017-12-29 16:51:00  1.19933  1.19965  1.19932  1.19964       0
2017-12-29 16:52:00  1.19962  1.19972  1.19962  1.19972       0
2017-12-29 16:53:00  1.19972  1.19987  1.19972  1.19987       0
2017-12-29 16:54:00  1.19985  1.19985  1.19970  1.19970       0
2017-12-29 16:55:00  1.19969  1.20014  1.19961  1.20010       0
2017-12-29 16:56:00  1.20009  1.20023  1.19974  1.19983       0
2017-12-29 16:57:00  1.19982  1.20074  1.19980  1.20005       0

[371635 rows x 5 columns]